<h2 id="timeline" class="c-text-heading2 mb-5">経歴</h2>
<ul class="c-lists-timeline">
  <li class="c-lists-timeline__list">
    <div class="c-lists-timeline__dot"></div>
    <time class="c-lists-timeline__time">2021.11&nbsp;-</time>
    <div class="c-lists-timeline__content">
      <h3>SaaSのインハウスデザイナー/Webデザイナーとして就業</h3>
      <p>
        正社員のWEBデザイナーとして就業。東証プライム上場企業のSaaS関係のランディングページのデザイン・コーディング制作を担当しています。
      </p>
    </div>
  </li>
  <li class="c-lists-timeline__list">
    <div class="c-lists-timeline__dot"></div>
    <time class="c-lists-timeline__time">2021.05&nbsp;-</time>
    <div class="c-lists-timeline__content">
      <h3>派遣就業と並行してデザイン・コーディング業務に従事（副業）</h3>
      <p>
        派遣社員での就業と並行して、個人事業主としてもデザイン・コーディング業務に従事しています。スタートアップ企業や個人経営店舗のランディングページやホームページ制作を担当。
      </p>
    </div>
  </li>
  <li class="c-lists-timeline__list">
    <div class="c-lists-timeline__dot"></div>
    <time class="c-lists-timeline__time">2020.11&nbsp;-&nbsp;2021.10</time>
    <div class="c-lists-timeline__content">
      <h3>派遣社員としてコーディング業務に従事</h3>
      <p>
        大手印刷会社のECサイトやランディングページのコーディング業務を担当しました。
      </p>
    </div>
  </li>
  <li class="c-lists-timeline__list">
    <div class="c-lists-timeline__dot"></div>
    <time class="c-lists-timeline__time">2016.04&nbsp;-&nbsp;2020.03</time>
    <div class="c-lists-timeline__content">
      <h3>兵庫県立大学&nbsp;経営学部</h3>
      <p>
        経営学部事業創造学科でビジネスモデルやブルー・オーシャン戦略をメインに研究しました。
      </p>
    </div>
  </li>
</ul>
