<h2 id="value" class="c-text-heading2">できること</h2>
<ul class="c-lists-value mt-5">
  <li class="c-lists-value__list">
    <!-- <span class="text-4xl material-icons"> code </span> -->
    <span class="text-4xl material-icons"> devices </span>
    <dl class="c-lists-value__dl">
      <dt class="c-lists-value__title">コーディングスキル</dt>
      <dd class="c-lists-value__description">
        <div class="c-lists-value__rate" data-rate="5"></div>
        <p>
          HTML/CSS/JavaScriptを用いたコーディングはもちろん、gulpを用いてEJSとDart
          Sassを用いたコーディングも可能です。CSS設計はFLOCSSを用いることが多いです。
        </p>
      </dd>
    </dl>
  </li>
  <li class="c-lists-value__list">
    <span class="text-4xl material-icons"> palette </span>
    <dl class="c-lists-value__dl">
      <dt class="c-lists-value__title">デザインスキル</dt>
      <dd class="c-lists-value__description">
        <div class="c-lists-value__rate" data-rate="4"></div>
        <p>
          FigmaやAdobe XDを用いたWEBサイトのデザインが可能です。<br />
          PhotoshopやIllustratorを用いたバナー制作なども担当しています。
        </p>
      </dd>
    </dl>
  </li>
  <li class="c-lists-value__list">
    <span class="text-4xl material-icons"> dns </span>
    <dl class="c-lists-value__dl">
      <dt class="c-lists-value__title">サイトの構築・運用</dt>
      <dd class="c-lists-value__description">
        <div class="c-lists-value__rate" data-rate="4"></div>
        <p>
          静的ウェブサイトのWordPress組み込みやWordPressのテーマ化、Wraptasへの組み込みができます。<br />
          Googleデータポータルを用いたGoogleAnalytics等のレポートの出力も担当しています。
        </p>
      </dd>
    </dl>
  </li>
</ul>
