<h2 class="c-text-heading2 mb-5">Value</h2>
<ul class="c-lists-value">
    <li class="c-lists-value__list">
        <img
            class="c-lists-value__image"
            src="https://traveler20.site/portfolio/asset/img/skill/icon-html.svg"
            alt=""
            loading="lazy"
        />
        <dl class="c-lists-value__dl">
            <dt class="c-lists-value__title">コーディングスキル</dt>
            <dd class="c-lists-value__description">
                <div class="c-lists-value__rate" data-rate="4"></div>
                <p>
                    HTML/CSS/JavaScriptを用いたコーディングはもちろん、gulpを用いてEJSとDart
                    Sassを用いたコーディングも可能です。CSS設計はFLOCSSを用いることが多いです。
                </p>
            </dd>
        </dl>
    </li>
    <li class="c-lists-value__list">
        <img
            class="c-lists-value__image"
            src="https://traveler20.site/portfolio/asset/img/skill/icon-html.svg"
            alt=""
            loading="lazy"
        />
        <dl class="c-lists-value__dl">
            <dt class="c-lists-value__title">コーディングスキル</dt>
            <dd class="c-lists-value__description">
                <div class="c-lists-value__rate" data-rate="4"></div>
                <p>
                    HTML/CSS/JavaScriptを用いたコーディングはもちろん、gulpを用いてEJSとDart
                    Sassを用いたコーディングも可能です。CSS設計はFLOCSSを用いることが多いです。
                </p>
            </dd>
        </dl>
    </li>
    <li class="c-lists-value__list">
        <img
            class="c-lists-value__image"
            src="https://traveler20.site/portfolio/asset/img/skill/icon-html.svg"
            alt=""
            loading="lazy"
        />
        <dl class="c-lists-value__dl">
            <dt class="c-lists-value__title">コーディングスキル</dt>
            <dd class="c-lists-value__description">
                <div class="c-lists-value__rate" data-rate="4"></div>
                <p>
                    HTML/CSS/JavaScriptを用いたコーディングはもちろん、gulpを用いてEJSとDart
                    Sassを用いたコーディングも可能です。CSS設計はFLOCSSを用いることが多いです。
                </p>
            </dd>
        </dl>
    </li>
</ul>
