<h2 class="c-text-heading2 mb-5">Work</h2>
<ul class="c-lists-work">
    <li class="c-lists-work__list"></li>
</ul>

<h3 class="c-text-heading3 mb-2">個人制作物</h3>
<ul class="c-lists-check">
    <li class="c-lists-check__list mb-1">
        <a
            href="/archive/202111/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >ポートフォリオサイト&nbsp;2021年11月&nbsp;Ver.</a
        >
    </li>
    <li class="c-lists-check__list">
        <a
            href="/archive/202201/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >ポートフォリオサイト&nbsp;2022年01月&nbsp;Ver.</a
        >
    </li>
</ul>
