/* utility
────────────────────────────── */
.text-sm {
  font-size: 14px;
}
.text-4xl {
  font-size: 36px;
}
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-4 {
  margin-top: 16px;
}
.mt-5 {
  margin-top: 20px;
}
.mt-9 {
  margin-top: 36px;
}
.mt-14 {
  margin-top: 56px;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.gap-8 {
  gap: 32px;
}
