<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- meta -->
        <%- include('./../_common/_head', {
        path:path,meta:data.meta['archive'],}) %>
    </head>
    <body>
        <%- include('./../_common/_header',{path:path,}) %>

        <!-- .l-main -->
        <main class="l-main">
            <section class="l-section">
                <div class="l-section__inner">
                    <h2 class="c-text-heading2 mb-5">Archive</h2>
                    <ul class="c-lists-work">
                        <li class="c-lists-work__list"></li>
                    </ul>

                    <h3 class="c-text-heading3 mb-2">過去のポートフォリオ</h3>
                    <ul class="c-lists-check mb-4">
                        <li class="c-lists-check__list mb-1">
                            <a
                                href="/archive/202111/"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                >ポートフォリオサイト&nbsp;2021年11月&nbsp;Ver.</a
                            >
                        </li>
                        <li class="c-lists-check__list">
                            <a
                                href="/archive/202201/"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                >ポートフォリオサイト&nbsp;2022年01月&nbsp;Ver.</a
                            >
                        </li>
                    </ul>

                    <h3 class="c-text-heading3 mb-2">個人制作物</h3>
                    <ul class="c-lists-check">
                        <li class="c-lists-check__list mb-1">
                            <a
                                href="https://traveler20.github.io/cafe/"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                >カフェテリアHP</a
                            >
                        </li>
                        <li class="c-lists-check__list mb-1">
                            <a
                                href="https://traveler20.github.io/tra/"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                >会社HP</a
                            >
                        </li>
                        <li class="c-lists-check__list mb-1">
                            <a
                                href="https://traveler20.github.io/kokopp/lp/"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                >アプリLP</a
                            >
                        </li>
                        <li class="c-lists-check__list mb-1">
                            <a
                                href="https://traveler20.github.io/wdlanding/"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                >観葉植物LP</a
                            >
                        </li>
                        <li class="c-lists-check__list mb-1">
                            <a
                                href="https://traveler20.github.io/card/"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                >プロフィールカード</a
                            >
                        </li>
                        <li class="c-lists-check__list mb-1">
                            <a
                                href="https://traveler20.github.io/newyear/"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                >特集サイト</a
                            >
                        </li>
                        <li class="c-lists-check__list mb-1">
                            <a
                                href="https://traveler20.github.io/tonomine/"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                >特集サイト</a
                            >
                        </li>
                        <li class="c-lists-check__list mb-1">
                            <a
                                href="https://traveler20.github.io/pine-apple/"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                >ガジェットHP</a
                            >
                        </li>
                        <li class="c-lists-check__list">
                            <a
                                href="https://traveler20.github.io/coda/"
                                target="_blank"
                                rel="nofollow noopener noreferrer"
                                >コードタイピングゲーム</a
                            >
                        </li>
                    </ul>
                </div>
            </section>
        </main>

        <%- include('./../_common/_footer',{path:path,}) %>
    </body>
</html>
