/* block
────────────────────────────── */
@use "./../../foundation/system" as *;

/* picture
─────────────── */
.c-block-picture {
    display: block;
    width: 100px;
    height: 100px;

    &__image {
        border-radius: 20px;
        background-color: $c-accent;
    }
}
