/* text
────────────────────────────── */
@use "./../../foundation/system" as *;

.c-text-heading1 {
  font-size: 2.8rem;
  font-weight: bold;
}

.c-text-heading2 {
  font-size: 2.4rem;
  font-weight: 600;
}

.c-text-heading3 {
  font-size: 2rem;
  font-weight: bold;
}

.c-text-gray {
  color: $c-gray;
}
