<!-- .l-header -->
<header class="l-header">
    <div class="l-header__inner">
        <a class="l-header__logo" href="/">
            <img
                src="https://traveler20.github.io/asset/img/meta/logo-icon.svg"
                alt="traveler20"
            />
        </a>
        <div class="l-header__mode">
            <label class="l-header__mode__label">
                <input
                    type="checkbox"
                    class="l-header__mode__input"
                    id="js_mode_toggle"
                />
                <span class="l-header__mode__mode" id="js_rotate"></span>
            </label>
        </div>
    </div>
</header>
<!-- /.l-header -->
