<%_ const path='./../'; _%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- meta -->
    <%- include(path + '_common/_head', { path:path,meta:data.meta['404'],})%>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/asset/img/meta/favicon.ico" />
    <!-- css -->
    <link rel="stylesheet" href="/asset/css/style.css" />
  </head>
  <body>
    <%- include(path + '_common/_header',{path:path,}) %>

    <!-- .l-main -->
    <main class="l-main">
      <section class="l-section">
        <div class="l-section__inner">
          <figure class="flex items-center gap-8">
            <picture class="c-block-picture">
              <img
                class="c-block-picture__image"
                src="https://avatars.githubusercontent.com/u/60683849?v=4"
                alt="traveler20"
                loading="lazy"
              />
            </picture>
            <figcaption>
              <h1 class="c-text-heading1">404</h1>
              <a
                class="c-text-gray"
                href="https://github.com/traveler20"
                target="_blank"
                rel="nofollow noopener noreferrer"
                >GitHub</a
              >
            </figcaption>
          </figure>
          <article class="mt-9">
            <p>当サイトをご覧頂きありがとうございます。</p>
            <p class="">
              申し訳ありませんが、アクセスしようとした記事は削除されたかURLが変更されています。
            </p>
            <ul class="c-lists-check mt-4">
              <li class="c-lists-check__list">
                <a href="/">ページトップへ</a>
              </li>
              <li class="c-lists-check__list mt-1">
                <a href="https://github.com/traveler20">GitHub</a>
              </li>
            </ul>
          </article>
        </div>
      </section>
    </main>
    <!-- /.l-main -->

    <%- include(path + '_common/_footer',{path:path,}) %>
  </body>
</html>
