/* base
--------------------------- */
@use "./system" as *;

::selection {
  background-color: $c-gray;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: YuGothic, "Yu Gothic", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 500;
  max-width: 100vw;
  min-width: 350px;
  width: 100%;
  overflow-x: hidden;

  /* デフォルトはダークモード表示 */
  transition-duration: 0.5s;
  transition-property: color, background-color;
  color: $c-body-dark;
  background-color: $c-base-dark;
  &.is_light {
    color: $c-body-light;
    background-color: $c-base-light;
  }
}
@media (prefers-color-scheme: light) {
  body {
    color: $c-body-light;
    background-color: $c-base-light;
  }
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}
a {
  color: #1ca9e3;
  text-decoration: underline;
  position: relative;

  &:hover {
    text-decoration: none;
    img {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}
